.values {
    margin: 0 -2px 10px -2px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info-block {
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    margin: 2px;
    border: 2px solid #000;
    border-radius: 5px;
    font-family: Consolas;
    cursor: pointer;
}

.info-name {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

.info-value {
    font-size: 18px;
}
