.button {
    background: #fff;
    padding: 7px 10px;
    border: 2px solid #2196f3;
    border-radius: 5px;
    color: #2196f3;

    font-family: Ubuntu;
    font-size: 16px;
}

.button:hover {
    background: #b3e7ff;
    cursor: pointer;
}

input[disabled].button {
    background: #ddd;
    color: #888;
    border-color: #888;
    cursor: default;
}

.select {
    box-sizing: border-box;
    border: none;
    padding: 0;
    background: #ddd;
    font-size: 15px;
    margin-right: 5px;
}

.number {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #808080;
    padding: 0;
    background: #eee;
}

.number:focus,
.number:hover {
    outline: none;
}

.select:focus,
.select:hover {
    outline: none;
    border-bottom: 1px solid #000;
    margin-bottom: -1px;
}
