.menu-icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.menu-icon div {
    width: 30px;
    height: 3px;
    background: #2196f3;
    margin: 5px 0;
}

.menu-icon:hover {
    background: #2196f3;
}

.menu-icon:hover div {
    background: #fff;
}

.menu {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 1;
}

.menu-items {
    background: #eee;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    display: none;
    position: absolute;
    right: 0;
    white-space: nowrap;
}

.menu-item {
    padding: 10px 15px;
    user-select: none;
    cursor: pointer;
}

.menu-item:hover {
    background: #2196f3;
    color: #fff;
}

.menu:hover .menu-items {
    display: block;
}
