body, head {
    margin: 0;
    padding: 0;
}

.simulator * {
    box-sizing: border-box;
}

.simulator {
    font-family: Ubuntu;
    font-size: 16px;

    display: grid;
    width: 100%;
    height: 100vh;

    grid-template-columns: max(540px, 30%) auto;
    grid-template-rows: 50px auto 30px;

    grid-template-areas:
    "left-header view"
    "code view"
    "footer footer";
}

.controls {
    grid-area: left-header;
    background: #eee;
    padding: 5px;
    position: relative;
}

.footer {
    grid-area: footer;
    background: #ddd;
    display: flex;
    align-items: center;
    position: relative;
}

.footer-cell {
    display: table-cell;
    vertical-align: middle;
}

.footer-cell a {
    color: #2196f3;
}

.right-part {
    position: absolute;
    right: 5px;
}

.view {
    grid-area: view;
    padding: 0 5px;
    overflow-y: auto;
}

@media (max-width: 1000px) {
    .simulator {
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: 50px auto auto 30px;
        grid-template-areas:
        "left-header"
        "code"
        "view"
        "footer";
    }
}

@media (max-width: 600px) {
    .simulator {
        grid-template-rows: 50px auto auto 65px;
    }

    .footer {
        display: block;
        padding: 5px;
        text-align: center;
    }

    .footer-cell {
        display: block;
    }

    .right-part {
        position: relative;
    }
}